{% extends 'leads/layout.html' %}

{% block body %}
<a href="{% url 'leads:index' %}" class="btn btn-primary mb-3">Back</a>

<a href="{% url 'leads:downloadLead' leadId %}" class="btn btn-primary mb-3">Download</a>

<div class="container mt-3">
    <h2 class="mb-4">Generated Lead</h2>
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            Lead ID: {{ leadId }}
        </div>
        <div class="card-body">
            {{ generatedLead | safe}}
        </div>
    </div>
</div>
{% endblock %}